<li class="col-<%= col %> col-lg-6 col-sm-12">
  <a href="#">
    <img src="<%= productImg %>" alt="<%= imgAlt %>">
    <div class="d-flex justify-content-between">
      <h6 class="fs-5"><%= productName %></h6>
      <p class="fs-5 fw-bold text-primary-default">NTD<%= productPrice %></p>
    </div>
  </a>
  <div class="d-flex gap-2">
    <div class="color-tag color-tag-primary"></div>
    <div class="color-tag color-tag-secondary"></div>
  </div>
</li>